@import "../../../styles/variables.scss";

:host, html, body, main{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }


    .form-section {
    position: relative;
    width: 100%;
    height: 100%;
  
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
        .login-form {
            position: absolute;
            z-index: 1;
            max-width: 1120px;
            width: 100%;
            height: 600px;
            padding: 2rem;
            background: #40c0c8;
            background-image: linear-gradient(#159FA7, #40C0C8);
            border: 2px solid white;
            transform: translate(30%, -130%);
            border-radius: 7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        

        h2 {
            font-size: 90px;
            color: white;
            margin: 34px 16px 40px 16px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 440px;
        }

        .btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;
            margin-bottom: 24px;

            button {
                padding: 0.75rem 1.5rem;
                border-radius: 0.5rem;
                color: white;
                font-size: 1.5rem;
                height: 50px;
                width: 250px;
                cursor: pointer;
                transition: opacity 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;

                &:disabled {
                    opacity: 0.5;
                }

                &.btn-login {
                    border: 2px solid white;
                    background-color: #32CD32;
                    color: white;
                    box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);

                }

                &.btn-voltar {
                    border: 2px solid white;
                    color: white;
                    background-color: #DC143C;
                }
            }
            .btn {
                padding: 0.75rem 1.5rem;
                border: 3px solid white;
                border-radius: 0.5rem;
                color: white;
                font-size: 2rem;
                height: 50px;
                width: 290px;
                cursor: pointer;
                transition: opacity 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;
            
                &:hover {
                  opacity: 0.85;
                }
              }
        }
        .btn-info-icon {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0;
            font-weight: bold;
            font-size: 1.25rem;
            background-color: rgba(0,0,0,0.5);
            border: 2px solid #FEC900;;
            color: #FEC900;
            display: flex;
            align-items: center;
            justify-content: center;
        
            &:hover {
              background-color: rgba(0,0,0,0.7);
            }
          }
    }


@media only screen and (min-width: 600px) {
  main {
      .form-section {
          img{
            width: 30vh;
          }

      }
  }

}

@media only screen and (min-width: 1024px) {
    main {
        .main-section {
            display: flex !important;
        }

        .form-section {
            padding: 0 70px;
        }
    }

}


