@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    section {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section {
        flex-grow: 1;
        background-color: #F1F3F6;
        display: none;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;

        }
    }

    .form-section {
        flex-grow: 0.7;
        padding: 0 30px;

        img {
            margin-bottom: 30px;
            margin-top: 20px;
            width: 20vh;
        }

        h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 32px;
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;

            .divider {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                color: $gray-bg;
                font-weight: 400;
                gap: 20px;
                text-transform: uppercase;
                width: 100%;

                div {
                    flex-grow: 1;
                    height: 2px;
                    background-color: $gray-bg;
                }
            }

            button {
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background: transparent;
                padding: 12px 24px;
                cursor: pointer;

                &:disabled {
                    opacity: 0.5;
                }

                &.btn-login {
                    background-color: $primary-color;
                    color: white;
                    box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);

                }

                &.btn-cadastro {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
  main {
      .form-section {
          img{
            width: 30vh;
          }

      }
  }

}

@media only screen and (min-width: 1024px) {
    main {
        .main-section {
            display: flex !important;
        }

        .form-section {
            padding: 0 70px;
        }
    }

}


