    <section class="relative w-full h-screen">
        <img src="assets/png/bg-inicio.png" 
             alt="Tela inicial B.O.A"
             class="inset-0 w-full h-full object-cover z-0"
         />
        <div class="z-[1] w-[80%] sm:w-[60%] h-[80%] p-4 sm:p-6 md:p-8 bg-gradient-to-b from-[#159FA7] to-[#40C0C8] border-2 border-white translate-x-[15%] -translate-y-[110%]  sm:translate-x-[30%] sm:-translate-y-[115%] rounded-[4rem] sm:rounded-[5rem] md:rounded-[7rem] flex flex-col items-center justify-center">
            <h2 class="press-start-2p-font text-[20px] xs:text-[24px] sm:text-[35px] md:text-[35px] lg:text-[55px] text-white mt-3 mb-4 mx-4 pb-4 text-center flex items-center justify-center">{{title}}</h2>
            <ng-content></ng-content>
            <div class="flex flex-col lg:flex-row items-center justify-center w-full gap-5 mb-2">
                <button class="px-6 py-3 rounded-md text-white text-[1.5rem] h-[40px] w-[180px] sm:w-[200px] md:h-[50px] md:w-[250px] cursor-pointer transition-opacity duration-200 flex items-center justify-center disabled:opacity-50 border-2 border-white bg-[#DC143C] jaro-font" (click)="navigate()" >{{btnSairText}}</button>
                <button class="px-6 py-3 rounded-md text-white text-[1.5rem] h-[40px] w-[180px] sm:w-[200px] md:h-[50px] md:w-[250px] cursor-pointer transition-opacity duration-200 flex items-center justify-center disabled:opacity-50 border-2 border-white bg-[#32CD32] jaro-font"  (click)="submit()" [disabled]="disableBtn">{{btnLoginText}}</button>
            </div>
        </div>
        <a href="/informacao">
            <button class="absolute top-4 right-4 w-10 h-10 p-0 flex items-center justify-center cursor-pointer hover:opacity-80" aria-label="Informações">
                <img src="assets/svg/info.svg" alt="ícone de informação"/>
            </button>
        </a>
    </section>
