<h2 mat-dialog-title class="text-4xl font-bold text-center jaro-font"> Bubble Sort </h2>

<mat-dialog-content class="mat-typography text-white">
  <p class="text-lg mt-4"><b>🧠 Dica </b></p>
  <p class="mb-4">
    Compare os dois números. Se o da esquerda for maior, ele troca com o da direita.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="center" class="mt-6">
   
    <button
        class="px-6 py-3 rounded-md text-white text-[1.5rem] sm:h-[30px] sm:w-[150px] md:h-[50px] md:w-[250px] cursor-pointer transition-opacity duration-200 flex items-center justify-center disabled:opacity-50 border-2 border-white bg-[#32CD32] jaro-font"
        (click)="continuar()">Continuar</button>
</mat-dialog-actions>

