@import "../../../styles/variables.scss";

.input-wrapper {
    color: $text-color;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    label{
        margin-bottom: 10px;
    }

    .input-content {
        width: 450px;
        border-radius: 8px;
        margin-bottom: 16px;

        input {
            border: 2px solid white;
            background-color:  #A2c8e3;
            padding: 12px 0 12px 20px;
            width: 440px;
            height: 70px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}