   <section class="relative size-full">
    <img src="assets/png/bg-inicio.png" alt="Tela inicial B.O.A" class="size-full"/>
    <div class="tema-card-container relative z-1 max-w-[1000px] w-full h-[650px] bg-gradient-to-b from-[#0C456B] to-[#2A89C8] border-2 border-white transform translate-x-[40%] translate-y-[-120%] rounded-[7rem] flex flex-col justify-between items-center p-8">
        <img src="assets/svg/titulo-tutorial.svg" alt="Título Tutorial" class="absolute top-6 left-1/2 -translate-x-1/2 w-[900px] h-[100px] z-10 py-2" />
        <div class="mt-[120px] w-full overflow-y-auto flex flex-1 items-center">
            <div class="mx-16 mt-4" *ngIf="parteAtual === 0">
                <p class="text-white text-2xl"><b>🎮 Boas-vindas!</b></p>
                <p class="text-white text-lg py-4 text-justify">Seja bem-vindo(a) ao <b>B.O.A. – Busca de Ordenação Animada</b>, um jogo educacional onde você aprende algoritmos de ordenação de forma divertida e interativa.</p>
                <p class="text-white text-lg pb-4">Aqui, cada nível representa um algoritmo diferente. Vamos te guiar passo a passo!</p>
                <p class="text-white text-xl pb-2"><b>🧑‍💻 1. Criar Conta</b></p>
                <p class="text-white text-lg"> Para começar, você precisa criar uma conta rápida com:</p>
                <ul class="text-white text-lg ml-12 my-2 list-disc">
                  <li>Nickname</li>
                  <li>Senha</li>
               </ul> 
               <p class="text-white text-lg pb-4"> 🛡️ Não usamos e-mail ou dados pessoais! É simples, direto e seguro.</p>
            </div>
            <div class="mx-16 mt-4" *ngIf="parteAtual === 1">
                <p class="text-white text-xl"><b>🔐 2. Fazer Login</b></p>
                <ul class="text-white text-lg ml-12 my-2 list-disc">
                    <li class="text-white text-lg text-justify">Depois de criar sua conta, basta fazer login com seu nickname e senha.</li>
                    <li class="text-white text-lg ">Você será levado automaticamente para a tela de seleção de níveis e seu progresso será salvo.</li>
                </ul>
                <p class="text-white text-xl my-2 pt-2"><b>🗺️ 3. Tela de Níveis</b></p>
                <p class="text-white text-lg">Aqui você escolhe o algoritmo que quer praticar:</p>
                <ul class="text-white text-lg ml-12 my-2 list-disc">
                  <li> <b>🌇 Nível 1: Bubble Sort</b></li>
                  <li> <b>🌆 Nível 2: Selection Sort</b></li>
                  <li> <b>🌃 Nível 3: Insertion Sort (Mais níveis virão!)</b></li>
               </ul> 
               <p class="text-white text-lg pb-4"> Cada um é dividido em etapas, com feedback após cada ação.</p>
            </div>
            <div class="mx-16 my-2" *ngIf="parteAtual === 2">
                <p class="text-white text-xl"><b>🧩 4. Como Jogar</b></p>
                <p class="text-white text-lg py-2">Durante o jogo:</p>
                <ul class="text-white text-lg ml-12 my-2 list-disc">
                  <li> <b>Você verá o estado atual do array, com dois elementos em comparação.</b></li>
                  <li> <b>O jogo pedirá que você digite o número correto que deve aparecer em uma posição específica naquele passo.</b></li>
                  <li> <b>O algoritmo será seguido à risca — apenas uma troca por vez.</b></li>
                  <li> <b>Você não pode pular passos nem ordenar de uma vez — o foco é aprender o processo.</b></li>
               </ul> 
            </div>
            <div class="mx-16 my-2" *ngIf="parteAtual === 3">
                <p class="text-white text-xl"><b>📊 5. Progresso e Feedback</b></p>
                <ul class="text-white text-lg ml-12 my-2 list-disc">
                  <li> <b>Ao acertar, verá uma mensagem do tipo: ✅ “Acertou! Vamos para o próximo passo.”</b></li>
                  <li> <b>Ao errar, verá uma mensagem do tipo: ❌ “Ops! Tente novamente.” ou uma dica visual.</b></li>
                  <li> <b>Ao concluir o nível, um card de parabéns explicará o que aprendeu e quantos passos foram necessários.</b></li>
               </ul> 
            </div>
            <div class="mx-16 my-2 flex-1 flex flex-col justify-center items-center" *ngIf="parteAtual === 4">
                <p class="text-white  text-3xl m-2 pb-4">🚀 Pronto para começar?</p>
                <p class="text-white text-3xl"><a href="/login" class="text-link text-center"> Vamos lá!</a></p>
            </div>
        </div>
        <div class="w-full flex justify-between px-8 items-center cursor-pointer">
            <img 
                src="assets/svg/seta-esquerda.svg" 
                alt="Seta voltar para informação anterior"
                (click)="parteAnterior()"
                [class.disabled]="parteAtual === 0" />
            <img 
                src="assets/svg/seta-direita.svg" 
                alt="Seta ir para próxima parte da informação"
                (click)="proximaParte()"
                [class.disabled]="parteAtual === informacoes - 1" />
        </div>
    </div>
    <button class="absolute top-4 right-4 w-10 h-10 p-0 flex items-center justify-center cursor-pointer hover:opacity-80" aria-label="Informações" (click) ="navigateInfo()">
        <img src="assets/svg/cancelar.svg" alt="ícone de informação" />
    </button>
</section>