<div class="container full-width">
    <div class="btn-back">
        <button class="btn-style" (click)="navigate()">
            <mat-icon>arrow_back_ios</mat-icon>
            Voltar
        </button>
    </div>
    <mat-card>
      <mat-card-title class="title-style">Editar Operação</mat-card-title>
      <mat-card-content>
        <form [formGroup]="operacaoForm" (ngSubmit)="submit()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Operação</mat-label>
            <input matInput formControlName="operacao" required />
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome do Responsável</mat-label>
            <input matInput formControlName="responsavel" required />
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Local</mat-label>
            <input matInput formControlName="local" required />
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Veículos Utilizados</mat-label>
            <mat-select formControlName="veiculos" multiple>
              <mat-option *ngFor="let veiculo of veiculos" [value]="veiculo">
                {{ veiculo }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Status da Operação</mat-label>
            <mat-select formControlName="status" required>
              @for(status of statusOpcoes; track status){
                <mat-option [value]="status">
                  {{ status }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Observação</mat-label>
            <input matInput formControlName="observacao" required />
          </mat-form-field>

          <div class="buttons-wrapper">
            <button mat-raised-button color="warn" type="button" (click)="onCancelar()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="operacaoForm.invalid">Salvar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
