<section class="relative size-full">
  <img src="assets/svg/Tela_níveis_fundo.svg" alt="Cenário de fundo azul escuro" class=""/>
  <div class=" w-[90%] h-[95%] translate-x-[5%] -translate-y-[102%] px-[50px] py-2">
    <div class="flex justify-center m-4">
      <img 
        src="assets/svg/titulo-niveis.svg" 
        class="w-[500px]" 
        alt="Cenário de fundo com nuvens no céu arbustos verde e céu estilo jogo" 
      />
    </div>
    <div  class="flex justify-center items-center mt-[48px] gap-[70px] press-start-2p-font">
      <div *ngFor="let nivel of niveis">
        <img [src]="'assets/svg/'+ nivel.imagem + '.svg'" class="w-[360px] h-[550px] my-2 cursor-pointer img-niveis hover:opacity-80" alt="{{nivel.nome}}" (click)="irParaBusca(nivel.id, nivel.bloqueado)">
        <p class="text-white text-md flex justify-center m-2">{{nivel.status}}</p>
        <div>
          <img *ngIf="nivel.bloqueado" src="assets/svg/cadeado.svg" class=" translate-x-[70%] -translate-y-[320%] absolute max-w-[150px] w-full h-auto">
          <img *ngIf="nivel.status === 'Concluido'" src="assets/svg/check.svg" class="translate-x-[260%] -translate-y-[580%] absolute max-w-[110px] w-full h-auto">
        </div>
      </div>   
    </div>
    <div class="cursor-pointer flex w-full justify-start">
      <img 
      src="assets/svg/seta-esquerda.svg" 
      alt="Seta voltar para informação anterior"
      (click)="navigateInicio()"
       />
    </div>
  </div>
  
</section>

