<section class="main-section">
    <img src="assets/svg/Tela-Inicial.svg" alt="Cenário de fundo com nuvens no céu arbustos verde e céu estilo jogo" />
    <div class="btn-grupo">
        <button class="btn btn-iniciar jaro-font" (click)="navigateLogin()">Iniciar</button>
        <button class="btn btn-tutorial jaro-font"(click)="navigateTutorial()" >Tutorial</button>
        <button class="btn btn-sair jaro-font" (click)="navigateSair()">Sair</button>
    </div>
    <button class="btn btn-info-icon" aria-label="Informações" (click) ="navigateInfo()">
        <img src="assets/svg/info.svg" alt="ícone de informação" class="img-btn-info" />
    </button>
</section>