<section class="relative w-full h-screen">
    <img src="assets/svg/Tela-Inicial.svg"
             alt="Cenário de fundo com nuvens no céu arbustos verde e céu estilo jogo"
             class="hidden md:block inset-0 w-full h-full object-cover z-0"
    />
    <img src="assets/png/bg-inicio.png" 
             alt="Cenário de fundo com nuvens no céu arbustos verde e céu estilo jogo"
             class="md:hidden inset-0 w-full h-full object-cover z-0"
    />
    <div class="-translate-y-[290%] sm:-translate-y-[290%] md:-translate-y-[300%] lg:-translate-y-[450%] flex flex-col md:flex-row items-center justify-center w-full h-auto gap-6 md:gap-4 lg:gap-16 px-2 mb-2">
        <button class="px-6 py-3 rounded-md text-white text-[1.5rem] h-[50px] w-[180px] sm:w-[200px] md:h-[50px] md:w-[250px] cursor-pointer transition-opacity duration-200 flex items-center justify-center disabled:opacity-50 border-2 border-white bg-[#32CD32] jaro-font" (click)="navigateLogin()">Iniciar</button>
        <button class="px-6 py-3 rounded-md text-white text-[1.5rem] h-[50px] w-[180px] sm:w-[200px] md:h-[50px] md:w-[250px] cursor-pointer transition-opacity duration-200 flex items-center justify-center disabled:opacity-50 border-2 border-white bg-[#FFA502] jaro-font"(click)="navigateTutorial()" >Tutorial</button>
        <button class="px-6 py-3 rounded-md text-white text-[1.5rem] h-[50px] w-[180px] sm:w-[200px] md:h-[50px] md:w-[250px] cursor-pointer transition-opacity duration-200 flex items-center justify-center disabled:opacity-50 border-2 border-white bg-[#DC143C] jaro-font" (click)="navigateSair()">Sair</button>
    </div>
    <button class="absolute top-4 right-4 w-10 h-10 p-0 flex items-center justify-center cursor-pointer hover:opacity-80" aria-label="Informações" (click) ="navigateInfo()">
        <img src="assets/svg/info.svg" alt="ícone de informação" class="img-btn-info" />
    </button>
</section>