

  
  
  .main-section {

    .btn {
      padding: 0.75rem 1.5rem;
      border: 3px solid white;
      border-radius: 0.5rem;
      color: white;
      font-size: 2rem;
      height: 50px;
      width: 290px;
      cursor: pointer;
      transition: opacity 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
  
      &:hover {
        opacity: 0.85;
      }
    }
  
  
    .btn-iniciar {
      background-color: #32CD32;
    }
    .btn-tutorial {
      background-color: #FFA502;
    }
    .btn-sair {
      background-color: #DC143C;
    }
  }
  