 <section class="relative w-full h-screen">
    <img src="assets/png/bg-inicio.png" alt="Tela inicial B.O.A" class="inset-0 w-full h-full object-cover z-0"/>
    <button class="w-[50%] h-[30%] sm:h-[30%] sm:w-[30%] md:h-[30%] md:w-[30%] lg:h-[35%] lg:w-[20%] rounded-[3rem] border-4 border-white -translate-y-[230%] sm:-translate-y-[240%] md:-translate-y-[215%] translate-x-[40%] sm:translate-x-[100%] md:translate-x-[110%] lg:translate-x-[195%] flex items-center justify-center cursor-pointer hover:scale-110" (click)="navigateInicio()" >
            <img src="assets/png/boa-img-logo.png" alt="Logo B.O.A" class=" w-[99%] h-[99%] rounded-[3rem] "/>
    </button>
</section>