<app-login-layout title="CADASTRO" btnLoginText="Criar" btnSairText="Voltar" (submit)="submit()" (navigate)="navigate()" [disableBtn]="!cadastroForm.valid">
    <form [formGroup]="cadastroForm">
        <app-default-input
        inputName="name"
        type="text"
        placeholder="Digite seu nickname"
        formControlName="name"
        >
        </app-default-input>
     
        <app-default-input
            inputName="password"
            type="password"
            placeholder="Digite sua senha"
            formControlName="password"
        >
        </app-default-input>
        <app-default-input
        inputName="passwordConfirm"
        type="password"
        placeholder="Digite sua senha de novo"
        formControlName="passwordConfirm"
    >
    </app-default-input>
    </form>
</app-login-layout>
