<app-login-layout title="CADASTRO" btnLoginText="Criar" btnSairText="Voltar" (submit)="submit()" (navigate)="navigate()" [disableBtn]="!cadastroForm.valid">
    <form [formGroup]="cadastroForm" class="flex">
        <app-default-input
        inputName="nickname"
        type="text"
        placeholder="Digite seu nickname"
        formControlName="nickname"
        />
        <app-default-input
            inputName="password"
            type="password"
            placeholder="Digite sua senha"
            formControlName="password"
        />
        <app-default-input
            inputName="passwordConfirm"
            type="password"
            placeholder="Digite sua senha de novo"
            formControlName="passwordConfirm"
        />
    </form>
</app-login-layout>
