<div class="card-container">
    <div class="card"  style="border-color: #820698">
        <div class="card-content">
            <mat-icon style="color: #820698">directions_car</mat-icon>
            <p style="color: #820698">Operações realizadas nos últimos 30 dias</p>
        </div>
        <span style="color: #820698">{{totalOperacoes}}</span>
    </div>

    <div  class="card" style="border-color: #2173d8">
        <div  class="card-content">
            <mat-icon style="color: #2173d8">hourglass_bottom</mat-icon>
             <p  style="color: #2173d8">Operações finalizadas</p>
        </div>
        <span style="color: #2173d8 ">{{operacoesFinalizadas}}</span>
    </div>
    <div class="card" style="border-color: #9D6411">
        <div  class="card-content">
            <mat-icon style="color: #9D6411">check</mat-icon>
            <p style="color: #9D6411">Operações em Andamento</p>
        </div>
        <span style="color: #9D6411">{{operacoesEmAndamento}}</span>
    </div>
</div>



