<table mat-table [dataSource]="dadosOperacao" >
  <ng-container matColumnDef="operacao">
    <th mat-header-cell *matHeaderCellDef> Operação </th>
    <td mat-cell *matCellDef="let operacao"> {{operacao.operacao}} </td>
  </ng-container>
  <ng-container matColumnDef="responsavel">
    <th mat-header-cell *matHeaderCellDef> Responsável </th>
    <td mat-cell *matCellDef="let operacao"> {{operacao.responsavel}} </td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let operacao"> {{operacao.data | date : 'dd/MM/yyyy'}} </td>
  </ng-container>
  <ng-container matColumnDef="local">
    <th mat-header-cell *matHeaderCellDef> Local </th>
    <td mat-cell *matCellDef="let operacao"> {{operacao.local}} </td>
  </ng-container>
  <ng-container matColumnDef="veiculos">
    <th mat-header-cell *matHeaderCellDef> Veiculos </th>
    <td mat-cell *matCellDef="let operacao"> {{operacao.veiculos}} </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let operacao" [ngClass]="{
      'status-em-andamento': operacao.status === 'em_andamento',
      'status-finalizada': operacao.status === 'finalizada'
    }">  {{ operacao.status === 'em_andamento' ? 'Em andamento' : 'Finalizada' }} </td>
  </ng-container>
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let operacao">
      <button mat-icon-button  class="botao-editar" (click)="editarOperacao(operacao)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button  class="botao-excluir" (click)="excluirOperacao(operacao.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
