   <section class="relative w-full h-screen">
    <img src="assets/png/bg-inicio.png" alt="Tela inicial B.O.A" class="inset-0 w-full h-full object-cover z-0"/>
    <div class="tema-card-container z-[1] w-[80%] sm:w-[60%] h-[80%] p-4 sm:p-6 md:p-8 bg-gradient-to-b from-[#0C456B] to-[#2A89C8] border-2 border-white translate-x-[15%] -translate-y-[110%]  sm:translate-x-[30%] sm:-translate-y-[115%] rounded-[4rem] sm:rounded-[5rem] md:rounded-[7rem] flex flex-col items-center justify-center">
        <img src="assets/svg/titulo_informacoes.svg" alt="Título informações" class="absolute top-4 left-1/2 -translate-x-1/2 w-[250px] sm:w-[300px] md:w-[350px] lg:w-[400px] xl:w-[650px] h-auto z-10 py-2" />
        <div class="pt-[40px] md:pt-28 w-full overflow-y-auto flex-1 flex flex-col items-center">
            <div class="px-4 sm:px-6 md:px-10 mt-4" *ngIf="parteAtual === 0">
                <p class="text-white text-base sm:text-lg md:text-xl xl:text-2xl mb-4 text-justify">O B.O.A (Busca e Ordenação Animada) é uma aplicação educacional interativa voltada para o ensino de algoritmos de ordenação, como Bubble Sort, Selection Sort e Insertion Sort. Desenvolvido como parte de um projeto acadêmico de software, o B.O.A foi criado para ajudar estudantes do ensino médio e universitários a visualizar, compreender e praticar algoritmos de forma lúdica, utilizando elementos de gamificação e animações intuitivas.</p>
                <p class="text-white text-base sm:text-lg md:text-xl xl:text-2xl mb-4 text-justify">O projeto nasceu a partir de uma observação comum no ensino de lógica e algoritmos: muitos alunos enfrentam grande dificuldade em entender o funcionamento interno das estruturas e processos computacionais apenas por texto ou código. O B.O.A transforma esses conceitos em experiências visuais e práticas, promovendo um aprendizado mais leve, eficiente e motivador. </p>
            </div>
            <div class="px-4 sm:px-6 md:px-10 mt-4" *ngIf="parteAtual === 1">
             <p class="text-white text-xl md:text-2xl">Objetivos do B.O.A:</p>
             <ul class="text-white text-base sm:text-lg md:text-xl list-disc ml-6 md:ml-12 mt-4 space-y-2 text-justify">
                <li class="mb-2 text-justify"> Facilitar o aprendizado de algoritmos por meio de tutoriais explicativos, animações e desafios interativos; </li>
                <li class="mb-2 text-justify">Tornar o estudo de ordenação mais visual, sequencial e compreensível, mesmo para iniciantes;</li>
                <li class="mb-2 text-justify">Promover a autonomia do estudante por meio de um sistema de progressão, feedback e fases desbloqueáveis;</li>
                <li class="mb-2 text-justify">Oferecer uma alternativa gratuita, didática e acessível ao ensino tradicional de programação.</li>
             </ul> 
            </div>
            <div class="px-4 sm:px-6 md:px-10 my-4" *ngIf="parteAtual === 2">
                <p class="text-white text-base sm:text-lg md:text-xl xl:text-2xl mb-4 text-justify">O <span class="font-bold">B.O.A</span> foi criado por uma equipe diversificada de estudantes do  <span class="font-bold">Bacharelado em Ciência da Computação</span> da <span class="font-bold">Universidade Estadual do Sudoeste da Bahia</span>, campus de <span class="font-bold">Vitória da Conquista</span>, empregando <span class="font-bold">métodos ágeis (Scrum)</span> como metodologia. Sendo eles:</p>
                <div class="flex flex-col md:flex-row justify-center gap-8">
                    <div class="flex flex-col space-y-4">
                        <div class="flex-col justify-start">
                            <div class="flex items-center gap-3"> 
                                <img src="assets/svg/personagem-1.png" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="text-white text-sm sm:text-base">
                                    <p class="text-md">Gidevaldo Novais dos Santos</p>
                                    <p class="text-xs sm:text-sm">(Product Owner)</p>     
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-2.svg" alt="personage m cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="text-white text-sm sm:text-base">
                                    <p class="text-md">Álisson Natan dos Anjos Pinheiro</p>
                                    <p class="text-xs sm:text-sm">(Dev Backend)</p>     
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-3.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="text-white text-sm sm:text-base">
                                    <p class="text-md">Camille Rodrigues Costa</p>
                                    <p class="text-xs sm:text-sm">(Designer UX/UI + Dev Frontend)</p>     
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-4.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="text-white text-sm sm:text-base">
                                    <p class="text-md">Cleiton Galvão Santana</p>
                                    <p class="text-xs sm:text-sm">(Dev Backend)</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <div class="flex-col justify-start">
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-5.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="text-white text-sm sm:text-base">
                                    <p class="text-md">Larissa Ribeiro Firminio</p>
                                    <p class="text-xs sm:text-sm">(Dev Backend)</p>     
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-6.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="text-white text-sm sm:text-base">
                                    <p class="text-md">Rafaela Pereira Santos</p>
                                    <p class="text-xs sm:text-sm">(Scrum Master + Designer UX/UI)</p>     
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-7.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="text-white text-sm sm:text-base">
                                    <p class="text-md">Samanta Souza Barros (Dev Frontend)</p>
                                    <p class="text-xs sm:text-sm">(Dev Frontend)</p>     
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-8.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="text-white text-sm sm:text-base">
                                    <p class="text-md">Sanley Pires Ferreira</p>
                                    <p class="text-xs sm:text-sm">(Analista de Qualidade - QA)</p>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4 sm:px-6 md:px-10 my-4" *ngIf="parteAtual === 3">
                <p class="text-white text-base sm:text-lg md:text-xl xl:text-2xl mb-4 text-justify">O <span class="font-bold">B.O.A</span> foi criado por uma equipe diversificada de estudantes do  <span class="font-bold">Bacharelado em Ciência da Computação</span> da <span class="font-bold">Universidade Estadual do Sudoeste da Bahia</span>, campus de <span class="font-bold">Vitória da Conquista</span>, empregando <span class="font-bold">métodos ágeis (Scrum)</span> como metodologia. Sendo eles:</p>
                <div class="flex flex-col md:flex-row justify-center gap-8">
                    <div class="flex flex-col space-y-4">
                        <div class="flex-col justify-start">
                            <div class="flex items-center gap-3"> 
                                <img src="assets/svg/personagem-1.png" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="flex-col text-white ml-2">
                                    <p class="text-white text-sm sm:text-base"><span class="font-bold">Banco de Dados:</span>PostgreSQL</p>   
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-2.svg" alt="personage m cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="flex-col text-white ml-2">
                                    <p class="text-white text-sm sm:text-base"><span class="font-bold">Frontend:</span> Angular + TypeScript</p>
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-3.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="flex-col text-white ml-2">
                                    <p class="text-white text-sm sm:text-base"><span class="font-bold">Backend:</span> Java (API REST)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col space-y-4">
                        <div class="flex-col justify-start">
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-5.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="flex-col text-white ml-2">
                                    <p class="text-white text-sm sm:text-base"><span class="font-bold">Design:</span>Figma</p>
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-6.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="flex-col text-white ml-2">
                                    <p class="text-white text-sm sm:text-base"><span class="font-bold">Controle de Versão:</span> GitHub</p>
                                </div>
                            </div>
                            <div class="flex items-center gap-3">
                                <img src="assets/svg/personagem-7.svg" alt="personagem cogumelo vermelho animado" class="w-12 h-12 sm:w-[60px] sm:h-[60px]">
                                <div class="flex-col text-white ml-2">
                                    <p class="text-white text-sm sm:text-base"><span class="font-bold">Gerenciamento do Projeto:</span> Jira</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="w-full flex justify-between px-8 items-center cursor-pointer">
            <img 
                src="assets/svg/seta-esquerda.svg" 
                alt="Seta voltar para informação anterior"
                (click)="parteAnterior()"
                [class.disabled]="parteAtual === 0" />
            <img 
                src="assets/svg/seta-direita.svg" 
                alt="Seta ir para próxima parte da informação"
                (click)="proximaParte()"
                [class.disabled]="parteAtual === informacoes - 1" />
        </div>
    </div>
    <button class="absolute top-4 right-4 w-10 h-10 p-0 flex items-center justify-center cursor-pointer hover:opacity-80" aria-label="Informações" (click) ="navigateInfo()">
        <img src="assets/svg/info.svg" alt="ícone de informação" />
    </button>
</section>
