   <section class="form-section">
    <img src="assets/png/TelaInicial_Fundo.png" alt="Tela inicial B.O.A" />
    <div class="card-container">
        <h2 class="press-start-2p-font">Informações</h2>
        <p>
            O B.O.A (Busca e Ordenação Animada) é uma aplicação educacional interativa voltada para o ensino de 
            algoritmos de ordenação, como Bubble Sort, Selection Sort e Insertion Sort. Desenvolvido como parte
             de um projeto acadêmico de software, o B.O.A foi criado para ajudar estudantes do ensino médio e
            universitários a visualizar, compreender e praticar algoritmos de forma lúdica, utilizando elementos
            de gamificação e animações intuitivas.
        </p>
        <p>
            O projeto nasceu a partir de uma observação comum no ensino de lógica e algoritmos: muitos alunos
            enfrentam grande dificuldade em entender o funcionamento interno das estruturas e processos 
            computacionais apenas por texto ou código. O B.O.A transforma esses conceitos em experiências 
            visuais e práticas, promovendo um aprendizado mais leve, eficiente e motivador.
        </p>
       <div class="container-setas">
        <img src="assets/svg/seta-esquerda.svg" alt="Seta voltar para informação anterior" />
        <img src="assets/svg/seta-direita.svg" alt="Seta ir para próxima parte da informação" />

       </div>
    </div>
    <a href="/informacao">
        <button class="btn btn-info-icon" aria-label="Informações">i</button>
    </a>
</section>