.game-container {
    text-align: center;
    background: url("/assets/png/bg-niveis.png") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    padding: 2rem;
    font-family: "Press Start 2P", cursive;
    color: white;
    overflow: hidden;
  }
  
  .title {
    width: 100%;
    position: relative;
    font-size: 75px;
    font-family: "Press Start 2P";
    color: #e4ab0d;
    text-align: center;
    height: 100px;
    text-shadow: 4px 0 0 #865837, 0 4px 0 #865837, -4px 0 0 #865837,
      0 -4px 0 #865837;
  }
  
  .array-section {
    margin-bottom: 1rem;
  }
  
  .array-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-top: 50px;
  }
  
  .array-label {
    width: 146px;
    position: relative;
    font-size: 20px;
    line-height: 120%;
    font-family: "Protest Strike";
    color: #fff;
    text-align: center;
    display: inline-block;
    text-shadow: 2px 0 0 #865837, 0 2px 0 #865837, -2px 0 0 #865837,
      0 -2px 0 #865837;
  }
  
  button {
    transition: transform 0.2s ease;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  .welcome-button,
  .start-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #f2aa00;
    border: 4px solid #865837;
    color: white;
    cursor: pointer;
    margin: 0.5rem;
  }
  
  .array {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 4px;
  }
  
  .array-box {
    background-color: #797979;
    border: 6px solid #464646;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 65px;
  }
  
  .array-box .position {
    font-size: 0.75rem;
    color: #eee;
    margin-top: 0.25rem;
    font-weight: normal;
    text-align: center;
  }
  
  .array-box.comparing {
    background-color: #f29f05;
    border-color: #865837;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    animation: blink-border 1s infinite;
  }
  
  .comparison-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 20px 0 50px;
  }
  
  .comparison {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .compare-box {
    background-color: #f29f05;
    border: 6px solid #865837;
    border-radius: 12px;
    color: white;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
    text-align: center;
    width: 60px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .compare-icon {
    font-size: 2rem;
    color: #914f00;
  }
  
  .question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  
  .question-index {
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    max-width: 30%;
    margin: 0 auto;
    font-size: 30px;
    line-height: 120%;
    font-family: "Protest Strike";
    text-shadow: 2px 0 0 #865837, 0 2px 0 #865837, -2px 0 0 #865837,
      0 -2px 0 #865837;
  }
  
  .answer-box {
    background-color: #f29f05;
    border: 6px solid #865837;
    border-radius: 12px;
    color: white;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
    margin: 2rem;
    width: 60px;
    height: 65px;
    text-align: center;
    appearance: textfield;
  }
  
  .answer-box::-webkit-inner-spin-button,
  .answer-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .confirm-button {
    margin: 2rem;
    padding: 0.5rem 1rem;
    background-color: #f29f05;
    border: 6px solid #865837;
    border-radius: 12px;
    color: white;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
    cursor: pointer;
  }
  
  .hint-button,
  .restart-button {
    padding: 0.5rem 3rem;
    background-color: #f29f05;
    border: 6px solid #865837;
    border-radius: 12px;
    color: white;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
    cursor: pointer;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  .feedback-box {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
    min-height: 60px;
    display: inline-block;
    animation: fade-in 0.3s ease-out;
    transition: all 0.3s ease-in-out;
  }
  
  .win-message {
    background-color: #2ecc71;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    animation: fade-in 0.4s ease-out;
    min-height: 100px;
    overflow: hidden;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @keyframes blink-border {
    0%,
    100% {
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.9);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  ::ng-deep .custom-dialog-container .mat-dialog-container {
    background: linear-gradient(to bottom, #159FA7, #40C0C8);
    color: white;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 3rem;
    max-width: 90%;
}