.game-container {
    text-align: center;
    background: url("/assets/png/bg-niveis.png") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    padding: 2rem;
    font-family: "Press Start 2P", cursive;
    color: white;
    overflow: hidden;
  }
  
  .text-shadow-title {
    text-shadow: 4px 0 0 #865837, 0 4px 0 #865837, -4px 0 0 #865837,
      0 -4px 0 #865837;
  }

  .text-shadow {
    text-shadow: 2px 0 0 #865837, 0 2px 0 #865837, -2px 0 0 #865837,
      0 -2px 0 #865837;
  }
  .steps-box {
    border: 6px solid #865837;
    box-shadow: 1px 2px 0 #000;
  }
    
  button {
    transition: transform 0.2s ease;
  }
  
  button:hover {
    transform: scale(1.05);
  }

  .welcome-button,
  .start-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #f2aa00;
    border: 4px solid #865837;
    color: white;
    cursor: pointer;
    margin: 0.5rem;
  }

  .array-box {
    border: 6px solid #464646;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
  }
 
  .array-box.comparing {
    background-color: #f29f05;
    border-color: #865837;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    animation: blink-border 1s infinite;
  }
    
  .compare-box {
    background-color: #f29f05;
    border: 6px solid #865837;
    border-radius: 12px;
    color: white;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
    text-align: center;
    width: 60px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .bold {
    font-weight: bold;
  }

  .answer-box {
    background-color: #f29f05;
    border: 6px solid #865837;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
  }
  
  .answer-box::-webkit-inner-spin-button,
  .answer-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .confirm-button {
    margin: 2rem;
    padding: 0.5rem 1rem;
    background-color: #f29f05;
    border: 6px solid #865837;
    border-radius: 12px;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5rem;
    box-shadow: 1px 2px 0 #000;
    cursor: pointer;
  }
  
  .hint-button,
  .restart-button {
    padding: 0.3rem 2rem;
    background-color: #f29f05;
    border: 6px solid #865837;
    border-radius: 12px;
    font-family: "Protest Strike", sans-serif;
    font-size: 1.4rem;
    box-shadow: 1px 2px 0 #000;
    cursor: pointer;
    width: 200px;
  }
  
  .win-message {
    background-color: #2ecc71;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    animation: fade-in 0.4s ease-out;
    min-height: 100px;
    overflow: hidden;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  
  @keyframes blink-border {
    0%,
    100% {
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.9);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

::ng-deep .custom-dialog-container .mat-dialog-container {
    background: linear-gradient(to bottom, #159FA7, #40C0C8);
    color: white;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 3rem;
    max-width: 90%;
}